
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #aa1e5965;
        }

        .container {
            text-align: center;
            background-color: #13367773;
            font-size: large;
            line-height: 2;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input{
            padding: 6px;
            background-color: rgb(193, 193, 252);
        }
        
        button{
            background-color: aqua;
            border-radius: 6px;
            height: 40px;

        }
        #weatherData {
            margin-top: 30px;

        }
    